/* _content/RealRSVPApplication/Views/Home/RSVPForm.cshtml.rz.scp.css */
body[b-anrirt58xw]{
    font-size: 12px;
}
.wrapper[b-anrirt58xw]{
    width: 20em;
    margin-bottom: 2em;
    margin-top: 2em;
    margin-right: -50%;
}
/* _content/RealRSVPApplication/Views/Home/WelcomePage.cshtml.rz.scp.css */
@font-face {
    font-family: 'MyTest';
    src: url(Koulen-Regular.ttf);
}

.Welcome[b-xh8jiq60qk]{
    border-width: 2px;
    background-color: aliceblue;
    border-color: blue;
    border-style: double;
    position: absolute;
    padding: 10px;
    height: 80vh;
    width: 60vw;
    left: 20%;
    box-sizing: border-box;
    border-bottom-right-radius: 4em;
    border-top-left-radius: 4em;
}
.WelcomeContent[b-xh8jiq60qk]{
    border: 1em;
    padding: 1em;
    background-color: rgba(0,25,140,0.5);
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
h1[b-xh8jiq60qk]{
    text-decoration: underline;
    font-family: 'MyTest',sans-serif;
}
html[b-xh8jiq60qk]{
    font-size: 14px;
}
/* _content/RealRSVPApplication/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*My own added css*/
.largerDiv[b-05x8t7vla1]{
  background-image: linear-gradient(rgba(244,0,244,0.5),rgba(50,100,244,0.5)),url("a-red-orange-column-of-smoke-in-darkness.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-right:0%;
  margin-left:0%;
  margin-top:0%;
}

header[b-05x8t7vla1]{
  margin:0%;
}
.container[b-05x8t7vla1]{
  margin: 0%;
}

/*Their own css*/
a.navbar-brand[b-05x8t7vla1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-05x8t7vla1]{
  color: #0077cc;
}

.btn-primary[b-05x8t7vla1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-05x8t7vla1], .nav-pills .show > .nav-link[b-05x8t7vla1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-05x8t7vla1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-05x8t7vla1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-05x8t7vla1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-05x8t7vla1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-05x8t7vla1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
