/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*My own added css*/
.largerDiv[b-05x8t7vla1]{
  background-image: linear-gradient(rgba(244,0,244,0.5),rgba(50,100,244,0.5)),url("a-red-orange-column-of-smoke-in-darkness.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin-right:0%;
  margin-left:0%;
  margin-top:0%;
}

header[b-05x8t7vla1]{
  margin:0%;
}
.container[b-05x8t7vla1]{
  margin: 0%;
}

/*Their own css*/
a.navbar-brand[b-05x8t7vla1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-05x8t7vla1]{
  color: #0077cc;
}

.btn-primary[b-05x8t7vla1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-05x8t7vla1], .nav-pills .show > .nav-link[b-05x8t7vla1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-05x8t7vla1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-05x8t7vla1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-05x8t7vla1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-05x8t7vla1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-05x8t7vla1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
