@{
    ViewData["Title"] = "ContextObject Home Page";
}
<div class="text-center">
    <h1 class="display-4 text-secondary">@ViewBag.GreetThem</h1>
    <p>Here's the link to the Request types available<br><a class="btn rounded-pill btn-primary" asp-action="RedirectedAction">Click here</a></p>

</div>